.normal{
	font-weight:normal
};

.add-recipe-wrapper{
	border-left:1px solid lightGray;
	border-right:1px solid lightGray;
	border-bottom:1px solid lightGray;
	border-radius:4px;
	margin-bottom:2%;
};

.upload-detail-wrapper{
	margin-bottom:2%;
}