<div ng-include="'components/navbar/navbar.html'"></div>
<div class="col-md-12">


<div class="col-md-6 col-md-offset-3 add-recipe-wrapper fx-fade-down">
<div class="upload-detail-wrapper" ng-show="!details_uploaded">
<form name="recipeForm" enctype="multipart/form-data" ng-submit="submit(recipeForm)" style="margin-bottom:8px">
  <div class="form-group">
    <label for="title" class="normal">Title</label>
    <input type="text" class="form-control" id="title" placeholder="Recipe Title" ng-model="recipe.title" name="recipeTitle">
  </div>
  <div class="form-group">
    <label for="description" class="normal">Description</label>
    <textarea class="form-control" id="description" placeholder="Add Description" rows="5" ng-model="recipe.description" name="recipeName"></textarea>
  </div>
    <div class="form-group">
    <label for="username" class="normal">Username</label>
    <input type="text" class="form-control" id="username" placeholder="Add Username" ng-model="recipe.username" name="recipeUsername">
  </div>
  <div class="form-group" style="overflow:auto">
  <button type="submit" class="btn btn-default pull-right">Submit</button>
  </div>
</form>
</div>


<div class="upload-pic-wrapper" ng-show="details_uploaded">
<form method="post" id="picForm" name="picForm" enctype="multipart/form-data" action="/api/files">
  <input type="text" name="recipeTitle" ng-model="recipe.title" style="display:none">

  <div class="form-group">
    <label for="image" class="normal">Add Image</label>

    <input type="file"  multiple="multiple"  name="recipePic"  accept="image/*" />
    <p class="help-block">Example block-level help text here.</p>
  </div>
  <div class="form-group" style="overflow:auto">
  <button type="submit" class="btn btn-default">Upload Pic</button>
  </div>
</form>
</div>
</div>



</div>
